@use "../common" as *;

.header {
  padding: $spacing-16 $spacing-40;
  background-color: $color-white;
  position: sticky;
  top: 0;
  z-index: 99;

  &--brand {
    font-family: $font-family-openSans;
    font-size: $font-size-26;
    font-weight: $font-weight-bold;
  }

  &--navbar {
    margin-left: $spacing-34;
    flex-grow: 1;

    ul {
      margin: 0;
      padding: 0;
    }

    li {
      margin: 0 $spacing-10;

      a {
        font-size: $font-size-14;
        padding-top: $spacing-08;
        line-height: $line-height-26;
        letter-spacing: 0.84px;
        text-transform: uppercase;
        border-bottom: 1px solid transparent;

        &:hover {
          border-bottom: 1px solid $color-primary;
        }
      }
    }
  }

  &--right-content {
    margin-left: auto;

    button {
      padding: $spacing-08 $spacing-40;
      border: 1px solid $color-primary;
      border-radius: $spacing-24;

      &:hover {
        background-color: $color-light-20;
      }
    }
  }
}
