@use "../common" as *;

.home {
  &-intro {
    justify-content: center;
    align-items: center;
    flex-direction: column;
    display: flex;
    text-align: center;
    position: relative;
    overflow: hidden;
    height: 100vh;
    margin-top: -73px;

    @include isMediaTablet {
      height: 100vh;
      margin-top: -76px;
    }

    #home-video {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: left;
      overflow: hidden;
      z-index: -1;

      @include isMediaTablet {
        display: flex;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: -1;
      }
    }
    &__content {
      z-index: 2;
    }
  }

  &-news {
    background-color: $color-medium_12;

    > div {
      @include isMediaTablet {
        flex-wrap: nowrap;
      }

      @include isMediaTabletLandscape {
        flex-direction: row-reverse;
        margin: auto;
        padding: 0 $spacing-30;
      }

      @include isMediaDesktop {
        padding: 0;
      }
    }

    &__content {
      justify-content: center;
    }

    &__image {
      @include isMediaTabletLandscape {
        justify-content: flex-start;
      }

      img {
        width: 100%;
        max-width: 370px;

        @include isMediaTabletLandscape {
          width: fit-content;
        }
      }
    }
  }

  &-content {
    @include isMediaTabletLandscape {
      flex-direction: row;
      position: relative;
      display: flex;
    }
  }

  &-solution {
    @include isMediaTabletLandscape {
      position: relative;
      z-index: 1;

      &.section--min-height {
        min-height: 95vh;
      }
    }

    &__text {
      @include isMediaTabletLandscape {
        margin: 0 auto;
      }
    }

    &__image {
      margin-bottom: -$spacing-40;

      @include isMediaTabletLandscape {
        position: absolute;
        bottom: -60px;
        left: calc(50vw - 723px);
      }

      img {
        max-width: 651px;
        width: calc(100% - $spacing-30);
        height: auto;
      }
    }
  }

  &-content {
    background: linear-gradient(
      180deg,
      $color-secondary,
      $color-secondary-dark
    );

    @include isMediaTabletLandscape {
      &.section--min-height {
        min-height: 410px;
      }
    }

    &__text {
      @include isMediaTabletLandscape {
        flex-direction: row;
        margin: auto;
      }
    }

    &__description {
      min-height: 40vh;

      @include isMediaTabletLandscape {
        height: 400px;
      }
    }

    &__image {
      height: 60vh;
      width: 100%;

      @include isMediaTabletLandscape {
        height: 520px;
        position: absolute;
        bottom: 0;
        right: 0;
      }

      img {
        position: absolute;
        z-index: 1;
        height: 100%;
        width: 100%;
        object-fit: cover;

        & + .button {
          z-index: 2;
        }
      }
    }
  }
}
.animated-box {
}

.fade-in {
  -webkit-animation: fade-in 1.2s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: fade-in 1.2s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

@-webkit-keyframes fade-in {
  0% {
    -webkit-transform: translateY(50px);
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    -webkit-transform: translateY(50px);
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}
