@use "../common" as *;

.solution {
  &-intro {
    overflow-x: hidden;

    .counter {
      animation-duration: 1s;
      animation-delay: 0s;
    }

    &--image {
      position: relative;
      min-height: 350px;

      @include isMediaTabletLandscape {
        min-height: 550px;
      }

      img {
        position: absolute;
        right: -120px;
        bottom: 0;
        height: 100%;
        width: auto;

        @include isMediaTabletLandscape {
          height: auto;
          width: 150%;
          bottom: inherit;
          top: 0;
          right: -170px;
        }
      }
    }

    &__flex-container {
      @include isMediaTabletLandscape {
        flex-direction: row;
      }
    }

    &__highlight {
      @include isMediaTabletLandscape {
        height: 380px;
      }
    }
  }

  &-back-office {
    background-color: $color-light_20;

    &__background {
      position: absolute;
      bottom: 45vh;
      left: 0;
      width: 50vw;
      max-width: 100%;
      height: 600px;

      @include isMobile360 {
        bottom: 60vh;
        height: 60vh;
      }

      @include isSuperMobile {
        bottom: 69vh;
        height: 65vh;
      }

      @include isMediaTablet {
        bottom: 30vh;
        height: 105vh;
        width: 30%;
      }

      @include isMediaTabletLandscape {
        bottom: 0;
        left: 0;
        width: 30%;
        height: 99vh;
      }

      img {
        object-fit: cover;
        width: 100%;
        height: 100%;
      }
    }

    &__container {
      position: relative;
      z-index: 1;

      @include isMediaTabletLandscape {
        flex-direction: row;
      }

      &-image,
      &-text {
        width: 100%;
      }

      &-image {
        max-width: 370px;
        img {
          width: 100%;
        }
      }

      &-text {
        @include isMediaTabletLandscape {
          display: flex;
          flex-direction: column;
          justify-content: center;
        }
      }
    }
  }

  &-benefits {
    .item {
      img {
        height: 81px;
        width: 67px;
      }
    }
  }

  &-opinions {
    background-color: $color-medium_12;
    min-height: 400px;
  }

  &-brands {
    display: none;
    &__image {
      @include isMediaTabletLandscape {
        justify-content: space-between;
      }

      .container {
        padding: 20px 20px;

        img {
          width: 100%;
          max-width: 160px;

          @include isMediaTabletLandscape {
            max-width: auto;
          }
        }
      }
    }
  }

  &-features {
    background: $color-background-green_30;
    display: flex;
    flex-direction: column;

    @include isMediaTabletLandscape {
      flex-direction: row;
    }
    &__container {
      text-align: center;
      img {
        align-self: center;
      }
      p {
        align-self: center;
      }
    }
  }
}
