/* Breakpoints */
$breakpoint-mobile-360: 365px;
$breakpoint-super-mobile: 380px; // test for small mobiles
$breakpoint-tablet: 600px;
$breakpoint-tablet-landscape: 992px;
$breakpoint-desktop: 1360px;
$breakpoint-fullhd: 1600px;
